trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Use Node.js'

- script: |
    npm install
    npm run build
  displayName: 'Install and build'

- task: AzureWebApp@1
  displayName: Deploy React build to Azure App Service
  inputs:
    azureSubscription: 'yt-clone'
    appName: 'my-azure'
    package: '$(System.DefaultWorkingDirectory)/build'

